<% provide(:title, "Log in") %>
<% provide(:heading, 'Login') %>
<% provide(:sub_heading, 'This is login page.') %>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
                    <div class="form-floating">
                        <%= f.text_field :email, class: "form-control", id: "email", "data-sb-validations" => "required,email" %>
                        <%= f.label :email, "Email", class: "form-label", for: "email" %>
                        <div class="invalid-feedback" data-sb-feedback="email:required">A valid email address is required.</div>
                    </div>

                    <div class="form-floating">
                        <%= f.password_field :password, class: "form-control", id: "password", "data-sb-validations" => "required" %>
                        <%= f.label :password, "Password", class: "form-label", for: "password" %>
                        <div class="invalid-feedback" data-sb-feedback="password:required">Password is required.</div>
                    </div>
                    <br>
                    <%= f.submit "Log in", class: "btn btn-primary" %>
                <% end %>
                <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
            </div>
        </div>
    </div>
</main>