<% provide(:title, 'Blog Posts') %>
<% provide(:heading, 'Blog Posts') %>
<% provide(:sub_heading, 'You can see blog post\'s information details here') %>
<% provide(:bg_image, 'blog-post-bg.png') %>

<!-- Main Content--> 
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item" style="width:30%"><strong>Title</strong></li>
                <li class="list-group-item" style="width:70%"><%= @blog_post.title %></li>
              </ul>
              <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item" style="width:30%"><strong>Summary</strong></li>
                <li class="list-group-item" style="width:70%"><%= @blog_post.summary %></li>
              </ul>
              <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item" style="width:30%"><strong>Content</strong></li>
                <li class="list-group-item" style="width:70%"><%= @blog_post.content %></li>
              </ul>
              <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item" style="width:30%"><strong>User</strong></li>
                <li class="list-group-item" style="width:70%"><%= @blog_post.user_id %></li>
              </ul>
              <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item" style="width:30%"><strong>Title image url</strong></li>
                <li class="list-group-item" style="width:70%"><%= @blog_post.title_image_url %></li>
              </ul>
              <br>
                <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
                <%= link_to 'Back', blog_posts_path %>
            </div>
            <br>
        </div>
    </div>
</main>



